@model List<business.Models.Rent>
    @using business.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PropertyC</title>
</head>
<body>
    <div> 
        <h1>Properties Locations(City)</h1>
        @foreach(Rent rent in Model)
        {
            @Html.ActionLink(rent.City, "PropertyC", "Home", new { @id = rent.City }, null);
            <br>
        }
    </div>
</body>
</html>
